<!DOCTYPE html>
<html lang='pt-BR'>
    <head>
        <meta http-equiv='Content-type' content='text/html; charset=UTF-8'/>
        <meta name='author' content='eduardokaykedasilva@gmail.com'>
        <meta name='description' content='Passe uma descrição do seu site.'>
        <meta name='keywords' content='Palavras chaves do seu site separadas por vírgula.'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>

        <!--Favicon-->
        <link rel='shortcut icon' href='#'>
        <!--Título-->
        <title>Blog</title>

        <!--Bootstrap CSS-->
        <link rel='stylesheet' type='text/css' href='/Bootstrap/css/bootstrap.min.css'>
        <!--Bootstrap Links CDN-->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous" defer></script>
        <!--Bootstrap JavaScript-->
        <script src='/bootstrap/js/bootstrap.min.js' defer></script>
        
        <!--CSS-->
        <link rel='stylesheet' type='text/css' href='#'>
        <!--JavaScript-->
        <script src='#' defer></script>
    </head>